# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db

# Virtual environment
.env
.venv
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
*.env
config.json
keys.json
